.App {
  background-color: rgb(38, 20, 56);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
}
h1 {
  color: aliceblue;
  font-size: 60px;
  font-weight: bold;
  top: 100px;
}
.Time {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: rgb(181, 203, 216);
  top: 300px;
  
}
